# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Build output
build/
DerivedData/
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Misc
*.swp
*.swo
